<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Only for local testing. This file will not make it into any distribution -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- appender that writes logging events to console -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %x %p %t %c: %m%n"/>
        </layout>
    </appender>

    <!-- root logger -->
    <root>
        <priority value="debug"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
